* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Lato', sans-serif;
  font-size: 0.9rem;
}
body{
  height:100%
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style-type: none;
}
.logup-page form {
  color: #aaa;
  margin: 1rem auto;
}
.logup-page input {
  color: #ccc;
}
.pwd-wrapper> #pwd,
.pwd-wrapper> #confirm-pwd{
  display: inline;
  margin-right: -30px;
}
.pwd-wrapper>.material-icons{
  cursor: pointer;
}
.pwd-wrapper>.material-icons:hover{
  color: #ddd;
}
form input {
  letter-spacing: 1px;
  border: none;
  border-bottom: 1px solid #999;
}
.logup-page form input::placeholder {
  color: #888;
}

input {
  display: block;
  width: 98%;
  padding: 1rem 0;
  background: none;
  font-size: 1rem;
  margin: 1rem 0;
}

input:focus {
  outline: none;
}

[button] {
  display: block;
  width: fit-content;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
}
[button]:focus {
  outline: none;
}
.grid-container {
  display: grid;
  grid-template-areas:
    'left middle middle middle';
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: calc(100vh - 30px - 47px);
}
.index-page .grid-container,
.logup-page .grid-container,
.about-page .grid-container {
  grid-template-areas:
    'middle middle middle middle';

}
.user-profile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.user-profile .user-wrapper{
  background-color: rgb(224, 224, 224);
  width:50%;
  height:fit-content;
  padding: 1rem
}
nav {
  display: flex;
  align-items: center;
  background-color: whitesmoke;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
  flex-wrap: wrap;
  position: sticky;
  top: 0;
  z-index: 23;
}
.nav-links {
  display: flex;
  padding-bottom: 0;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: flex-end;
}
.tab-links {
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  justify-items: flex-end;
  top: 8.67%;
  padding: 1rem 0 1rem 0;
  background-color: rgb(224, 224, 224);
}
.tab-links .active {
  border: none;
  font-weight: bolder;
}
.logo a {
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: none;
  font-variant: small-caps;
}
.broad {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  width: 2rem;
  height: 2rem;
  padding: 1.1rem;
  color: whitesmoke;
  border-radius: 50%;
}
.nav-link,
.tab-link {
  color: #666;
  text-align: center;
  margin: 0 0.75rem;
  text-transform: uppercase;
  padding: 0.3rem;
  border-bottom: 2px solid transparent;
  cursor:pointer;
}
.status-link {
  text-align: center;
  margin: 1rem auto;
  text-transform: uppercase;
  padding: 0.3rem;
}
.profile-page .status-link,
.view-page .status-link {
  color: #222;
}
.tab-link:hover,
.status-link:hover {
  color: #333;
}

.active {
  color: #333;
  border-bottom: 2px solid #444;
  transition: border ease-in-out 0.5s;
}
.nav-link:hover {
  color: #333;
  border-bottom: 2px solid #444;
  transition: border ease-in-out 0.5s;
}

.status-links .active {
  border: none;
  border-left: 2px solid #444;
  background-color: #ccc;
  font-weight: bold;
}

img.author-pic {
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid grey;
  border-radius: 50%;
}
.user-wrapper .user-pic {
  width: fit-content;
  margin: auto;
}
.user-wrapper .user-pic img {
  width: 10rem;
  height:10rem;
  margin:auto;
  border-radius: 50%;
  border: 1px solid rgb(223, 220, 220);
}
.user-panel,
.middle {
  padding: 1rem;
}
.user-panel {
  grid-area: left;
  overflow: auto;
  background-color: rgb(224, 224, 224);
  margin-top: 1rem;
  height: 90vh;
  position: sticky;
  top: 10%;
}

.middle {
  grid-area: middle;
  background: none;
}
.index-page .middle,
.logup-page .middle,
.about-page .middle {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url('https://res.cloudinary.com/gbrian/image/upload/v1595603776/BroadCaster/black_afro_dude_svojz0.jpg');
  background-color: #333;
  background-size: cover;
  background-repeat: no-repeat;
}
.rightside {
  grid-area: right;
}
.submit {
  color: whitesmoke;
  margin: auto;
  font-size: 1.2rem;
}
.submit:hover {
  border-bottom: 1px solid #aaa;
  transition: 0.8s;
}
.description {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slogan {
  color: whitesmoke;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.7;
}
.broadcaster {
  text-transform: none;
  font-size: 2.6rem;
}
.get-started,
.logup-page input[type='submit'] {
  color: whitesmoke;
  border: 1px solid #aaa;
  margin: auto;
  border-radius: 2px;
}
.get-started:hover,
.logup-page input[type='submit']:hover {
  color: rgba(0, 0, 0, 0.7);
  background-color: white;
  transition: 0.8s;
}
.logup-page .middle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  width: 35%;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  background-color: rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 30px;
}
.center h2 {
  color: #aaa;
  font-weight: 500;
  width: fit-content;
  text-align: center;
  margin: auto;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.psw {
  color: #999;
}

.bcm {
  color: #999;
}

.bottom a {
  text-decoration: underline;
  color: #ccc;
}
.records-wrapper {
  padding-bottom: 1rem;
}
.search-panel {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.search-panel input {
  width: 80%;
  border: none;
  background-color: whitesmoke;
}
.search-panel input:focus {
  border-bottom: 2px solid #999;
}
.search-btn {
  border: none;
}
.search-btn:hover {
  color: whitesmoke;
  background-color: #666;
}
.record {
  background-color: whitesmoke;
  margin-top: 1rem;
  padding: 1rem;
}
.record:hover .quick-panel {
  display: block;
  transition: all ease-in 0.5s;
}
.record > div {
  margin-bottom: 0.8rem;
}
.record .type {
  font-weight: bold;
  text-transform: uppercase;
  font-size: .85rem;
}
.record .read-more {
  background-color: #555;
  color: whitesmoke;
}
.record .read-more:hover {
  background-color: #222;
  color: whitesmoke;
}
.quick-panel {
  display: none;
}
.quick-panel a {
  display: inline-block;
  border: none;
  background: none;
  margin-right: 1rem;
  padding: 0;
  color: #666;
}
.quick-panel a:hover {
  color: #333;
}
.intervention {
  background-color: rgb(98, 52, 226);
  color:whitesmoke;
  width: fit-content;
  padding:.1rem .3rem;
  border-radius: 3px;
}
.red-flag {
  background-color: brown;
  color:whitesmoke;
  width: fit-content;
  padding:.1rem .3rem;
  border-radius: 3px;
}
.record-info {
  color: #444;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  color: #555;
  font-weight: bold;
  text-transform: uppercase;
}
.title:hover a {
  color: #222;
}
.comment {
  color: #222;
  font-size: 1.1rem;
  max-height: 200px;
  letter-spacing: 1px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.view-page .comment {
  display: block;
  max-height: none;
  line-height: 25px;
}
.map-panel h3,
.media-panel h3 {
  padding: 1rem 0 0 1rem;
  color: #444;
}
.view-page .map {
  padding: 1rem;
}

.view-page .media-panel {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}
.view-page .media-panel .image-wrapper {
  flex: 100%;
  max-width: 100%;
  padding: 4px;
}
.view-page .media-panel .image-wrapper img {
  width: 100%;
  margin-top: 8px;
}
.view-page .status-panel .edit-delete {
  display: flex;
  flex-wrap: wrap;
}
.view-page .status-panel .edit-delete a,
.del-image-panel button {
  margin: 0 0.5rem 0 0.5rem;
  color: whitesmoke;
  border: none;
}
.del-image-panel button {
  margin: 0;
}
.view-page .status-panel .edit-delete .delete,
.del-image-panel .img-delete {
  color: rgb(218, 42, 42);
}
.view-page .status-panel .edit-delete .edit {
  color: #444;
}
.view-page .status-panel .edit-delete .delete:hover,
.del-image-panel .img-delete:hover {
  color: rgb(133, 4, 4);
}
.view-page .status-panel .edit-delete .edit:hover {
  color: #222;
}

iframe {
  width: 40%;
}
.status {
  text-transform: uppercase;
}
.record .resolved,
select.resolved {
  color: green;
}
.record .pending,
select.pending {
  color: orange;
}
.record .rejected,
select.rejected {
  color: red;
}
.status-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
select option {
  color: #444;
  display: block;
  border: none;
  padding: 0.5rem;
  text-transform: uppercase;
  background-color: whitesmoke;
}
select.status:focus {
  outline: none;
}
.author-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-info .author-name {
  font-size: 1.2rem;
  padding: 0.25rem;
  /* margin: auto auto 0 0.5rem; */
  cursor: pointer;
}
.author-info .author-name:hover {
  color:#222;
  font-weight: bold;

}
.new-page .author-info .author-name {
  font-weight: bold;
}
.user-wrapper .user-info {
  padding:.5rem;
  border-radius: 3px;
}

.user-wrapper .user-info div {
  margin-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  padding: 0.3rem;
}
.user-wrapper .user-info .user-name:hover,
.user-wrapper .user-info .user-username:hover {
  color: #222;
}
.user-wrapper .user-info .user-name {
  font-size: 1.2rem;
  font-weight: bolder;
}

textarea {
  display: block;
  resize: none;
  margin: 1rem auto;
  width: 100%;
  padding: 1rem;
  font-size: 1.2em;
  color: #333;
  font-family: 'Jomolhari', serif;
  border: none;
  background-color: whitesmoke;
}
textarea:focus {
  outline: none;
}
.new-page input {
  border: none;
  font-family: 'Jomolhari', serif;
  border-bottom: 1px solid #888;
  font-size: 1.5rem;
}
.new-record {
  width: 90%;
  margin: auto;
  padding: 2rem;
}
.record-edit {
  padding: 1rem;
}
.new-rec-btn-wrapper {
  display: flex;
  justify-content: space-between;
}

.new-rec-btn {
  color: #555;
  font-weight: bold;
  border: 1px solid #555;
}
.new-rec-btn:hover {
  background-color: #555;
  color: whitesmoke;
}

fieldset {
  background-color: whitesmoke;
  color: #222;
  padding: 1rem;
  margin: 1rem auto;
  border: none;
}
fieldset legend {
  font-size: 1.2rem;
}
fieldset input {
  font-size: 0.7rem;
}
fieldset input::placeholder {
  color: #333;
}
fieldset.location-editor input {
  font-size: 1rem;
  padding: 0;
}
.view-page .location{
  margin-top: 2rem;
  font-weight: bold;
}
.post-panel {
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: inherit;
}
.post-panel button {
  border: none;
}
.post-panel .post {
  background-color: green;
  color: whitesmoke;
}
.post-panel .post:hover {
  background-color:darkgreen;
}
.post-panel .cancel {
  background-color: #444;
  color: whitesmoke;
}
.post-panel .cancel:hover {
  background-color: #333;
}
.post-panel a {
  margin-left: 1rem;
}
.about-page .sub-middle {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 70%;
  margin: auto;
}
.about-page .middle div {
  padding: 1rem;
}
.about-page .my-info {
  flex: 20%;
  background-color: rgba(245, 245, 245, 0.514);
  background-color: #666;
}
.contact-us-wrapper {
  display: none;
}
.about-page .my-info .user-wrapper {
  background: none;
  color: whitesmoke;
}
.about-page .my-info .user-wrapper div a,
.about-page .my-info .user-wrapper div {
  color: whitesmoke;
}
.about-page .about-me {
  flex: 70%;
  background-color: rgba(245, 245, 245, 0.596);
  backdrop-filter: blur(10px);
  font-size: 1.2rem;
}
.feedback {
  padding: 1rem;
}
.feedback .hear-from-u {
  color: #333;
  font-size: 1.2rem;
}
.feedback-email {
  border: none;
  border-left: 3px solid #444;
  background-color: #ddd;
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
}
.feedback-text {
  margin: 1rem;
  margin-left: 0;
  padding: 1rem;
  font-size: 1.2rem;
  color: #333;
  font-family: 'Jomolhari', serif;
  border: none;
  border-left: 3px solid #444;
  background-color: #ddd;
}
.feedback-submit,
.contact-us-btn {
  border: none;
  background-color: #444;
  color: whitesmoke;
}
.contact-us-btn {
  margin-left: 1rem;
}
.feedback-submit:hover,
.contact-us-btn:hover {
  background-color: #222;
}
.pagination {
  display: flex;
  justify-content: center;
}
.del-image-panel {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.pagination .page {
  text-align: center;
  color: #555;
  padding: 0.3rem;
  margin: 0.8rem;
  border-bottom: 2px solid transparent;
}
.pagination .page:hover {
  border-bottom: 2px solid #222;
  color: #333;
  transition: 0.8s;
}
.pagination .active {
  color: #222;
  border-bottom: 2px solid #222;
  transition: 0.8s;
}
.modal-bg {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.562);
  justify-content: center;
  align-items: center;
  display: flex;
  display: none;
  overflow: auto;
}
.modal {
  width: 30%;
  margin: 5px;
  padding: 10px;
  height: fit-content;
  position: relative;
  background-color: rgba(245, 245, 245, 0.822);
}
.modal-bg .close-modal {
  position: absolute;
  display: block;
  top: -5%;
  right: 2%;
  z-index: 2;
  font-size: 3rem;
  cursor: pointer;
}

.modal-bg .close-modal:hover {
  color: #983a3a;
}
.modal-bg > .delete {
  width: 20%;
}
.modal-bg > .delete > center > div {
  font-size: 1.2rem;
}
.modal-bg > .delete > center > [button] {
  background-color: rgb(175, 28, 28);
  color: whitesmoke;
}
.modal-bg > .delete > center > [button]:hover {
  background-color: rgb(129, 11, 11);
}
.no-scroll {
  overflow: hidden;
}
.whole-body {
  min-height: calc(100vh - 30px);
}
.footer {
  padding: 10px;
  text-align: center;
  background-color: #444;
  color: whitesmoke;
  height: 30px;
}
.footer a {
  text-decoration: underline;
  color: rgb(106, 171, 231);
  margin: auto 1rem
}
.not-found {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.137));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
}
.profile-edit{
  padding:1rem
}
.profile-edit input{
  font-size: 1rem;
  border:1px solid #777;
  padding:.5rem;
  color:#222;
  font-weight: bolder;
  margin:inherit auto
}
.profile-edit input:focus{
  box-shadow: 0 0 3px;
}
.profile-edit button {
  margin: 1rem auto;
  color:whitesmoke;
  width:50%;
  border:none
}
.save-profile-btn,.save-reset-btn{
  background-color: green;
}
.cancel-profile-btn,.cancel-reset-btn{
  margin: 1rem auto;
  color:whitesmoke;
  width:40%;
  border:none;
  background-color:#555;
}
.save-profile-btn:hover,.save-reset-btn:hover{
  background-color: darkgreen;
}
.cancel-profile-btn:hover,.cancel-reset-btn:hover{
  background-color: #333;
}
.profile-edit .user-pic{
  width: 70%;
  margin:1rem auto;
}
.profile-edit img{
  width:100%;
  border-radius: 50%;
}
.edit-profile-btn,.reset-pwd-btn{
  margin: 1rem auto;
  background-color: #555;
  color:whitesmoke;
  width:50%;
  border:none
}
.edit-profile-btn:hover,.reset-pwd-btn:hover{
  background-color: #333;
}
input#dp{
  display:none;
}
label.for-dp{
  display:block;
  text-align: center;
  width:70%;
  margin:0 auto;
  font-weight: bold;
  box-shadow: 0 0 2px;
  cursor: pointer;
  padding:.5rem;
  border:1px solid gray;
}
label.for-dp:hover{
  box-shadow: 0 0 5px;
}
.loader {
  display:flex;
  width: 100%;
  height: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.toast {
  width:fit-content;
  padding:.5rem;
  margin:1rem auto;
  border-radius: 3px;
  text-align: center;
  color:whitesmoke;
}
.toast-error{
  background-color: crimson;
}
.toast-success{
  background-color: green;
}
/*============================================css loader==================================================*/

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height:.8rem;
}
.lds-ellipsis div {
  position: absolute;
  top: 0px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
  background-color: green;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: orange;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
  background-color: red;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
/* ============================================== */
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
/*============================================css loaders==================================================*/


/*==============================================================================================================================*/
/* ========================================== SMALLER SCREENS ================================================================= */
/*==============================================================================================================================*/

@media (max-width: 768px) {
  .pages .grid-container,.prof-page .grid-container {
    grid-template-areas:
      'left left left left'
      'middle middle middle middle';
  }
  .pages .user-panel,.prof-page .user-panel {
    height: fit-content;
    min-height: auto;
    position: static;
  }
.user-wrapper .user-pic img {
    width: 7rem;
    height: 7rem;
}
  .about-page .sub-middle {
    width: 90%;
  }
  .center {
    width: 50%;
  }
  .locate-wrapper form {
    flex-wrap: no-wrap;
  }
  .locate-wrapper form input {
    flex: 100%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 0.7rem;
  }
  .grid-container {
    grid-template-areas:
      'left left left left'
      'middle middle middle middle';
  }
  .tab {
    position: static;
  }
  .logup-page .middle {
    justify-content: center;
  }
  .center {
    width: 80%;
  }
  .new-page textarea {
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
  }
  .search-panel {
    width: 100%;
  }
  .new-record input {
    font-size: 1.5rem;
  }
  .new-record {
    width: 100%;
  }
}
@media (max-width: 412px) {
  .logo,
  .nav-links,
  .tab-links {
    width: fit-content;
    margin: auto;
  }
}
